
#introHead{
    color: rgb(73, 160, 178);
    font-family: Arial, Helvetica, sans-serif;
}
#intro{
    color: #ffffff;
}
.reset{
    clear: both;
}
#introContainer{
    padding: 30px; 
    width: 470px;
    border-radius: 10px;
    background-color: rgb(43, 50, 56);
    float:left; 
    margin: 30px 0px 0px 30px;
}
#introPicture{
    float: left;
    margin: 0px 0px 30px 0px;
    border-style:groove;
    border-color: black;
}
#introPicture2{
    float: left;
    margin: 30px 0px 30px 0px;
    border-style:groove;
    border-color: black;
}

/*Hobby*/
#hobbyContainer{
    padding: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(43, 50, 56);
    float: right;
    margin: 25px 220px 0px 0px;
    color: azure;
}

#hobbyContainer h2{
    margin: 0px 0px 0px 0px 
}
/*Pictures*/
#heroshot{
    float: left;
    margin: 0px 0px 30px 0px;
    border-style:groove;
    border-color: black;
}

#rave{
    float: left;
    border-style:groove;
    border-color: black;
    margin: -320px 0px 0px 610px;
}
#ski{
    float: left;
    border-style:groove;
    border-color: black;
    margin: -320px 0px 0px 30px; 
}

#instagram{
    float: left;
    width: 200px;
    height: 56px;
    background-color: rgb(43, 50, 56);
    margin-bottom: 20px;
    border-radius: 10px;
    
}
#instagram img{
    float: left;
    width: 56px;
    margin-right: 10px;
}
#instagram h2{
    float: left;
    color: azure;
}

#youtube{
    float: left;
    width: 200px;
    height: 56px;
    background-color: rgb(43, 50, 56);
    margin-bottom: 20px;
    border-radius: 10px;
}
#youtube img{
    float: left;
    width: 80px;
    margin-right: 10px;
}

#youtube h2{
    float: left;
    color: azure;
}

#pinterest{
    float: left;
    width: 200px;
    height: 56px;
    background-color: rgb(43, 50, 56);
    margin-bottom: 20px;
    border-radius: 10px;
}

#pinterest img{
    float: left;
    width: 56px;
    margin-right: 10px;
}

#pinterest h2{
    float: left;
    color: azure;
}

#spotify{
    float: left;
    width: 200px;
    height: 56px;
    background-color: rgb(43, 50, 56);
    border-radius: 10px;
}

#spotify img{
    float: left;
    width: 56px;
    margin-right: 10px;
}

#spotify h2{
    float: left;
    color: azure;
}

#mainContainer{
    width: 1300px;
    margin: 0px auto;
}
#navigation{
    height: 20px;
    margin: 70px 0px 0px 0px;
}
#navigation a{
    padding: 10px;
    background:hwb(186 38% 39%);
    color:#ffffff;
    border-radius: 4px;
}
#navigation a:hover{
   background: #c4313b;
}
#navigation2{
    height: 20px;
    margin: 100px 0px 0px 0px;
}
#navigation2 a{
    padding: 10px;
    background:hwb(186 38% 39%);
    color:#ffffff;
    border-radius: 4px;
}
#navigation2 a:hover{
   background: #c4313b;
}
body{
    background-color: rgb(59, 114, 125);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

