body{
    background-color: rgb(59, 125, 62);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #0000ff;
}
.highlight{
    font-weight: bold;
    color: #ff0000;
}
#introContainer{
    width: 470px;
    float:left; 
}
#introPicture{
    float: left;
}
.reset{
    clear: both;
}
#hobbyContainer{
    width: 410px;
    float: right;
}
#heroshot{
    float: left;
}
#rave{
    float: left;
}
.socialTumb{
    float: left;
}
#mainContainer{
    width: 850px;
    margin: 0px auto;
}